* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: .5px;
  flex-direction: column;
  justify-content: center;
  opacity: .75;
  background-color: rgba(96, 125, 139, 0.82)
  }

header {
  height: 100px;
  font-family: 'Sedgwick Ave Display' , cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  letter-spacing: 10px;
  color: #a4e2b5;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.44);
  font-size: 64px;
  margin: 20px auto;
}

.fuel {
  margin-left: 13px;
  color: #b6c4c7;
}

.main {
  margin: 30px auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.standard-box-size {
  width: 30%;
  height: 500px;
  padding: 10px;
}

.sub-standard-box {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #a4e2b5;
  height: 100%;
}

.instruction {
  margin-left: 4px;
}

.form-field {
  display: block;
}

.input, .submit-btn, .dropdown-content, .submit-btn {
  height: 30px;
  width: 100%;
  border: 2px solid #b6c4c7;
  border-radius: 4px;
}

.submit-btn:hover {
  border: 3px solid #fff;
}

.submit-btn {
  background-color: #fff;
  margin: 67px 0;
}

.submit-btn-txt {
  color: black;
  letter-spacing: 1px;
}

.submit-btn-txt:hover {
  font-size: 16px;
  letter-spacing: 3px;
}

.active-submit-btn {
  color: green;
}

.existing-folders-box {
  display: block;
}

.folder-contents-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.folder-item {
  text-decoration: none;
  color: black;
}
